SQLALCHEMY_POSTGRES_DATABASE_URL = "database_url"
ACCESS_TOKEN_SECRET_KEY = "your secret key"
ACCESS_TOKEN_EXPIRE_MINUTES = 123
REFRESH_TOKEN_SECRET_KEY = "your secret key"
REFRESH_TOKEN_EXPIRE_MINUTES = 123
ALGORITHM = "alghorithm method"

set_cookie_setting
['lax', 'strict', 'none'] 
SAMESITE_SETTING = lax
SECURE_SETTING = False